<h1>チャットルーム</h1>
<hr>
<div id="js-messages" data-room_id="<%= @room.id %>">
  <%= render partial: 'messages/message', collection: @messages %>
</div>

<%= label_tag :content, '入力' %>
<%= text_field_tag :content, nil, data: { behavior: 'room_speaker' } %>
