<h1>Rooms#show</h1>
<p>Find me in app/views/rooms/show.html.erb</p>

<h1>チャットルーム</h1>
<div id="messages">
  <%= render partial: 'messages/message', collection: @messages %>
</div>

<%= label_tag :content, 'コメントを入力' %>
<%= text_field_tag :content, nil, data: { behavior: 'room_speaker' } %>
